JaguarWSClient/xml-resources/web-service-references/JaguarWS/wsdl/localhost_8080/JaguarWS/JaguarWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jaguar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.jaguar/" name="JaguarWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.jaguar/" schemaLocation="http://localhost:8080/JaguarWS/JaguarWS?xsd=1"/>
</xsd:schema>
</types>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemGrade">
<part name="parameters" element="tns:obtemGrade"/>
</message>
<message name="obtemGradeResponse">
<part name="parameters" element="tns:obtemGradeResponse"/>
</message>
<message name="enviaJogadaOnca">
<part name="parameters" element="tns:enviaJogadaOnca"/>
</message>
<message name="enviaJogadaOncaResponse">
<part name="parameters" element="tns:enviaJogadaOncaResponse"/>
</message>
<message name="enviaJogadaCao">
<part name="parameters" element="tns:enviaJogadaCao"/>
</message>
<message name="enviaJogadaCaoResponse">
<part name="parameters" element="tns:enviaJogadaCaoResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<portType name="JaguarWS">
<operation name="preRegistro">
<input wsam:Action="http://ws.jaguar/JaguarWS/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://ws.jaguar/JaguarWS/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/registraJogadorResponse" message="tns:registraJogadorResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/registraJogador/Fault/InterruptedException"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://ws.jaguar/JaguarWS/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/encerraPartida/Fault/InterruptedException"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://ws.jaguar/JaguarWS/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/temPartidaResponse" message="tns:temPartidaResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/temPartida/Fault/InterruptedException"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://ws.jaguar/JaguarWS/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/ehMinhaVez/Fault/InterruptedException"/>
</operation>
<operation name="obtemGrade">
<input wsam:Action="http://ws.jaguar/JaguarWS/obtemGradeRequest" message="tns:obtemGrade"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/obtemGradeResponse" message="tns:obtemGradeResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/obtemGrade/Fault/InterruptedException"/>
</operation>
<operation name="enviaJogadaOnca">
<input wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaOncaRequest" message="tns:enviaJogadaOnca"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaOncaResponse" message="tns:enviaJogadaOncaResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaOnca/Fault/InterruptedException"/>
</operation>
<operation name="enviaJogadaCao">
<input wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaCaoRequest" message="tns:enviaJogadaCao"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaCaoResponse" message="tns:enviaJogadaCaoResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/enviaJogadaCao/Fault/InterruptedException"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://ws.jaguar/JaguarWS/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://ws.jaguar/JaguarWS/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws.jaguar/JaguarWS/obtemOponente/Fault/InterruptedException"/>
</operation>
</portType>
<binding name="JaguarWSPortBinding" type="tns:JaguarWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="obtemGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="enviaJogadaOnca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="enviaJogadaCao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="JaguarWS">
<port name="JaguarWSPort" binding="tns:JaguarWSPortBinding">
<soap:address location="http://localhost:8080/JaguarWS/JaguarWS"/>
</port>
</service>
</definitions>